<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cadres">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--存储权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_policy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cadres.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".view.login.LoginActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.zcfg.ZcfgActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.zcfg.ZcfgDetailActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.Bm.BmActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.Gb.GbActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.Gb.GbActivity2"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.yjjc.YjjcActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.yjjc.YjjcDetailActivity2"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.yjjc.YjjcVoteActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.search.SearchActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.search.SearchDetailActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.dsjty.DsjtyActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.dsjty.TyListActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.other.PhotoImageActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.Gb.GbSelectActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.dsjty.DsjtySelectActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.Bm.BmSelectActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.Bm.BmGwyActivity"
            android:screenOrientation="landscape"/>

    </application>

</manifest>